html {
    font-size: 14px;
}

main {
    font: 18px 'Bitter', 'Times New Roman', Verdana, Georgia, sans-serif;
    text-indent: 1.5rem;
    padding: 10px;
    background-color: lightgray;
}

h1 {
    font-weight: bolder;
}

h2 {
    text-shadow: 2px 2px 2.5px #1F062D;
}

.shadow {
    text-shadow: 1.5px 1.5px 3px #0D5948;
}

href {
    font: #4CE5C3;
}