html, body {
    font-size: 14px;
}

main {
    font: 18px 'Bitter', 'Times New Roman', Verdana, Georgia, sans-serif;
    text-indent: 1.5rem;
    padding: 10px;
    background-color: lightgray;
}

body {
    background-color: lightgray;
}

h1 {
    font-weight: bolder;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

href {
    font: #4CE5C3;
}

.collapsible {
    background-color: #eee;
    color: #8465A5;
    cursor: pointer;
    padding: 15px;
    width: 90%;
    border-radius: 12px;
    text-align: left;
    outline: 1px;
    font: 'Bitter', 'Times New Roman', Verdana, Georgia, sans-serif;
    font-size: 18px;
}

.active, .collapsible:hover {
  background-color: gray;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}