html {
    font-size: 14px;
}

main {
    font: 18px 'Bitter', 'Times New Roman', Verdana, Georgia, sans-serif;
    text-indent: 1.5rem;
    padding: 10px;
    background-color: lightgray;
}

h1 {
    font-weight: bolder;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

href {
    font: #4CE5C3;
}